*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
		margin: 0 auto;
    	max-width: 70em;
    	/*background-image: url("../img/code-square.svg");*/
    	background-color: #004b23;
    	background-size: 100%;
    	background-position-y: 50%;
}
Header{
	color: #eee ;
}
Header .navbar-brand{
	color: #eee;
}
Footer{
	background-color: #143642;
	color: #f4f3ee ;
}	
.navv{
	background-color: #143642;
	color: #f4f3ee ;
}
.navbar-brand{
	color: #f4f3ee;
}
.navi a{
	color: #ffffff;
	transition: 0.3s;
}
.navi a:hover{
	color: #aaaaaa;
	border-bottom: 4px solid #999;
	transition: 0.3s;
}

#up{
	border-radius: 50%;
	width: 60px;
	height: 60px;
	
	padding: 0;
	margin: 0;

}
#up a{
	text-decoration: none;
	color: #333;
	font-size: 50px;
	padding: 0;
	margin: 0;
}

.titulo{
	background-image: url("../img/fondo3.jpg");
	background-size: 100%;
	background-position-y: 50%;
	transition: 1.5s;
	color: #eee;
	text-transform: uppercase;
	border: 4px solid #333;
	border-radius: 0 0 1% 1% ;
		
}
.titulo:hover{
	transition: 3s ;
	border: 4px solid #f7b801;
	border-radius: 0 0 2% 2% ;
	 
}
.titulo img{
	width: 200px;
	height: 200px;
	border-radius: 50%; /*rounded-circle es la clase de Bootstrap que redondea la img */
	margin: 20px;
	border: 6px solid #222;
	transition: 2s;


}


.foto{
	width: 200px;
	height: 200px;
	border-radius: 50%; /*rounded-circle es la clase de Bootstrap que redondea la img */
	margin: 20px auto;
	border: 6px solid #222;
	background-image: url("../img/foto.jpg");
	background-size: 100%;
	background-position-y: 50%;
	transition: 2s;
}

.foto:hover{
	transition: 2s;
	/*background-color: #f18701;*/
	background-image: url("../img/foto2.png");
	
	background-size: 100%;
	background-position-y: 50%;
}
#fotop{
	transition: 1s;
}
#fotop:hover{
	transition: 1s;
}



.titulo h1, .titulo p{
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 25%;
}

.titulo img:hover{
	transition: 2s ; 
}

.aboutme{
	background-color: #333;
	color: #ddd;
	
	border-left: 4px solid #555;
	border-right: 4px solid #555;
	transition: 1s;
		
}
.aboutme:hover{
background-color: #222;
	color: #eee;
	border-left: 4px solid #f7b801;
	border-right: 4px solid #f7b801;
	
	transition: 1s;
}
.aboutme img{
	max-width: 250px;
	border-radius: 2%;
	transition: 2s;
	border: 4px solid #333;

}
.aboutme img:hover{
	transition: 3s;
	
	border: 4px solid #f7b801;
}
.proyectos{
	background-color: #333;
	color: #eee;
		
	
	transition: 1s;
	border-radius: 1%;
}
.proyectos:hover{
	background-color: #222;
	transition: 2.5s;

	
}
.proy{
	border-radius: 1%;
	transition: 1s;
	padding: 0.5em;
	background-color: #444;
	color: #eee;
}
.proy img{
	max-height: 8em;
	
}
.proy:hover{
	
	transition: 1s;
	
	background-color: #222;
}
.card-footer{
	background-color: #eee;
}
.tyhb{
	background-color: #333;
	color: #eee ;
	border: 4px solid #333;
	transition: 1s;
	
}
.tyhb:hover{
	transition: 2s;
	background-color: #222;
	border: 4px solid #f7b801;
}

.tyhb img{
	width: 150px;
	
	
}
.tecnologia img{
	height: 80px;
	width: auto;
}
.tecnologia .btn{
	border-radius: 35%;
	background-color: white;
	border: 2px solid rgba(126, 122 , 18, 0.6);
	transition: 1s;
}
.tecnologia .btn:hover{
	border: 2px solid rgba(212, 192 , 48, 0.6);
}
.btn-tec{
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.btn-tec img{
	max-width: 80px;
}
.a img{
	width: 150px;
}
.habilidades .card{
	border: 6px solid #143642;
	border-radius: 50%;
	transition: 1s;
}
.habilidades .card:hover{
	transition: 2.2s;
	border: 6px solid #f7b801;
}
.capacitaciones{
	background-color: #444;
	color: #eee;
	transition: 1.5s;
}
.capacitaciones:hover{
	transition: 3s;
	background-color: #222;
}

.capacitaciones img{
	width: 150px;
	
}
.capacitaciones .card{
	color: #eee;
	background-color: #444;
transition: 1.5s;
	border: 4px solid #444;
	
}
.capacitaciones .card:hover{
	color: #eee;
	background-color: #222;

	transition: 1.5s;
	border: 4px solid #f7b801;
	border-radius: 10%;
}
.capacitaciones li:hover{
	color: #000;
	transition: 1.5s;
	background-color: #ccff33

}
.capacitaciones .btn{
	margin-top: 8px;
}
.modal-body{
	color: #333;
}
.contacto{
	background-color: #444;
	color: #eee ;
	border-radius: 1%;
	border-top: 4px solid #333;
	border-bottom: 4px solid #333;
transition: 1.5s;
}
.contacto:hover{
	transition: 2s;
	background-color: #333;
			border-top: 4px solid #f7b801;
	border-bottom: 4px solid #f7b801;
}

