*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
		margin: 0 auto;
    	max-width: 70em;
    	background-image: url("../img/code-square.svg");
    	background-color: #004b23;
    	background-size: 100%;
    	background-position-y: 50%;


    	
	}
Header{
	color: #eee ;
}
Header .navbar-brand{
	color: #eee;
}
Footer{
	background-color: #143642;
	color: #f4f3ee ;
}	
.navv{
	background-color: #143642;
	color: #f4f3ee ;
}
.navbar-brand{
	color: #f4f3ee;
}

.titulo{
	background-image: url("../img/fondo3.jpg");
	background-size: 100%;
	background-position-y: 50%;
	
	color: #eee;
	text-transform: uppercase;
	border: 8px solid #333;
	border-radius: 0 0 25% 25% ;
		
}
.titulo:hover{
	transition: 3s ;
	border: 8px solid #38b000;
	border-radius: 0 0 25% 25% ;
	 
}
.titulo img{
	width: 200px;
	height: 200px;
	border-radius: 50%; /*rounded-circle es la clase de Bootstrap que redondea la img */
	margin: 20px;
	border: 6px solid #222;



}
.foto{
	width: 200px;
	height: 200px;
	border-radius: 50%; /*rounded-circle es la clase de Bootstrap que redondea la img */
	margin: 20px auto;
	border: 6px solid #222;
	background-image: url("../img/foto.jpg");
	background-size: 100%;
	background-position-y: 50%;
}

.foto:hover{
	transition: 3s;
	background-color: #f18701;
	background-image: url("../img/foto2.png");
	background-size: 100%;
	background-position-y: 50%;
}



.titulo h1, .titulo p{
	background-color: rgba(0, 0, 0, 0.8);
	border-radius: 25%;
}

.titulo img:hover{
	transition: 5s ; 
}

.aboutme{
	background-color: #004b23;
	color: #ddd;
	
	border-left: 4px solid #004b23;
	border-right: 4px solid #004b23;
	
		
}
.aboutme:hover{
background-color: #006400;
	color: #eee;
	border-left: 4px solid #70e000;
	border-right: 4px solid #70e000;
	border-radius: 10%;
	transition: 1s;
}
.aboutme img{
	width: 350px;
	border-radius: 30%;

	border: 8px solid #006400;

}
.aboutme img:hover{
	transition: 3s;
	
	border: 8px solid #f7b801;
}
.proyectos{
	background-color: #004b23;
	color: #eee;
		
	

	border-radius: 5%;
}
.proyectos:hover{
	background-color: #008000;
	transition: 2.5s;

	
}
.proy{
	border: 4px solid #007200;
	border-radius: 16%;
}
.proy:hover{
	border: 4px solid #f7b801;
	transition: 1s;
	cursor: hand;
}
.proyicon{
	background-color: transparent;

	border-radius: 50%;
}
.proyicon:hover{
	transition: 0.7s;
	background-color: rgba(3, 250, 26, 0.3);

}
.tyhb{
	background-color: #004b23;
	color: #eee ;
	border: 4px solid #004b23;
	
}
.tyhb:hover{
	transition: 2s;
	background-color: #006400;
	
}

.tyhb img{
	width: 150px;
	
	
}
.tecnologia img{
	height: 80px;
	width: auto;
}
.tecnologia .btn{
	border-radius: 35%;
	background-color: white;
	border: 2px solid rgba(126, 122 , 18, 0.6);
}
.tecnologia .btn:hover{
	border: 2px solid rgba(212, 192 , 48, 0.6);
}
.a img{
	width: 150px;
}
.habilidades .card{
	border: 6px solid #006400;
	border-radius: 50%;
}
.habilidades .card:hover{
	transition: 2.2s;
	border: 6px solid #9ef01a;
}
.capacitaciones{
	background-color: #004b23;
	color: #eee;
	
}
.capacitaciones:hover{
	transition: 3s;
	background-color: #007200;
}

.capacitaciones img{
	width: 150px;
	
}
.capacitaciones .card{
	color: #eee;
	background-color: #006400;

	border: 8px solid #006400;
	
}
.capacitaciones .card:hover{
	color: #000;
	background-color: #ccff33;

	transition: 1.5s;
	border: 8px solid #ccff33;
	border-radius: 10%;
}
.capacitaciones li:hover{
	color: #000;
	transition: 1.5s;
	background-color: #ccff33

}
.contacto{
	background-color: #004b23;
	color: #eee ;
	border-radius: 16%;
	border-top: 8px solid #004b23;
	border-bottom: 8px solid #004b23;

}
.contacto:hover{
	transition: 2s;
	background-color: #007200;
			border-top: 8px solid #007200;
	border-bottom: 8px solid #007200;
}